
#mian {
   min-width: 12.8rem;
}
#mian .wrapper {
    width: 11.9rem;
    margin: auto;
    margin-top: 0.3rem;
}
#mian .wrapper .wraper-item{
    margin-bottom: 0.25rem;
}
#mian .wrapper .breadcrumbs{
    width: 100%;
    padding: 0.15rem 0;
    font-size: 0.12rem;
  
}
#mian .wrapper .breadcrumbs a{
    color: #666;
    padding-right: 0.05rem;
}
#mian .wrapper .details{
    width: 11.9rem;
    height: 3.3rem;
    font-size: 0.12rem;
    color: #666;
    background-color: #fff;
    border-radius: 0.1rem;
    padding: 0.2re 0.2rem 0.33rem;
    border: 0.01rem solid #e5e5e5;
    box-shadow: 0.01rem 0.02rem 0.14rem 0 #cccccc;
}

#mian .wrapper .details .d-left{
    width: 7.48rem;
    height: 2.74rem;
    float: left;
   
}
#mian .wrapper .details .d-left .shop-info {
    width: 100%;
    height: 0.37rem;
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;
}
#mian .wrapper .details .d-left .shop-info .name{
    font-size: 0.26rem;
    color: #666;
    float: left;
}
#mian .wrapper .details .d-left .shop-info .flag{
    color: rgb(85, 216, 216);
    float: right;
    line-height: 0.37rem;
}
#mian .wrapper .details .d-left .price-info .star-cont ul{
   list-style: none;
   float: left;
   padding: 0 0.2rem;
}
#mian .wrapper .details .d-left .price-info .star-cont ul.star-scor li{
float: left;
margin-right: 0.05rem;
}
#mian .wrapper .star-cont ul.star-scor li .iconfont{
    font-size: 0.14rem;
}
#mian .wrapper  .icon-Starlarge{
color: #f90;
}
#mian .wrapper  .icon-Starlargegray{
    color: #ccc;
    }
#mian .wrapper .details .d-left .price-info .price {
    font-size: 0.14rem;
    padding-left: 0.4rem;
}
#mian .wrapper .details .d-left .address{
    width: 7.28rem;
    height: 0.9rem;
    margin: auto;
    padding: 0.15rem 0 0.1rem 0.2rem;
    font-size: 0.14rem;
    border-bottom: 0.01rem solid #e5e5e5;
    border-top: 0.01rem solid #e5e5e5;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}
#mian .wrapper .details .d-left .address p{
    margin-bottom: 0.1rem;
}
#mian .wrapper .details .d-left .tags{
    padding: 0.1rem 0 0 0.4rem;
}
#mian .wrapper .details .d-left .tags img{
    width: 0.24rem;
    height: 0.24rem;
    padding: 0.1rem;
}
#mian .wrapper .details .d-right {
    float: right;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
}
#mian .wrapper .details .d-right .big-picture{
    width: 3.8rem;
    height: 2.14rem;
    border-radius: 0.05rem;
}
#mian .wrapper .details .d-right .picture{
    width: 0.92rem;
    height: 0.5rem;
    border-radius: 0.05rem;
}
#mian .wrapper h3{
    padding: 0.1rem 0;
}
#mian .wrapper  .preferential {
    width: 9.08rem;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px 20px 20px;
    color: #222;
    margin-bottom: 0.1rem;

}

#mian .wrapper  .preferential .preferential-contents h4{
    padding: 0.1rem 0 0 0;
}
#mian .wrapper  .preferential .preferential-contents .content{
    position: relative;
   margin-bottom: 0.2rem;
   padding-top: 0.2rem;
}
#mian .wrapper  .preferential .preferential-contents .content img{
    width: 1rem;
    height: 1rem;
    border-radius: 0.05rem;
    float: left;
}
#mian .wrapper  .preferential .preferential-contents .content .dishe-info {
    float: left;
    padding-left: 0.2rem;
}
#mian .wrapper  .preferential .preferential-contents .content .dishe-info img{
    width: 0.16rem;
    height: 0.16rem;
    float: left;
    margin-left: 0.1rem;
}
#mian .wrapper  .preferential .preferential-contents .content .dishe-info .title{
    color: #222;
    font-weight: 350;
    float: left;

}
#mian .wrapper  .preferential .preferential-contents .content .dishe-info .count{
    font-size: 0.12rem;
    color: #666;
}
#mian .wrapper  .preferential .preferential-contents .content .price-info {
    color:#f60;
    font-size: 0.2rem;
}
#mian .wrapper  .preferential .preferential-contents .content .price-info .store-price{
    font-size: 0.12rem;
    font-weight: 300;
    color: #999;
}
#mian .wrapper  .preferential .preferential-contents .content .buy{
    background: #f90;
    color: #fff;
    display: inline-block;
    width: 1.2rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
    position: absolute;
    top: 40%;
    right:0.2rem;
}
#mian .wrapper  .preferential .preferential-contents .content .line{
    width: 9.08rem;
    height: 0rem;
    border-bottom: 0.01rem solid rgb(229, 229, 229);
    position: absolute;
    bottom: -0.2rem;
}
#mian .wrapper  .preferential .preferential-contents .content .pricetag{
    float: left;
    width: 1.4rem;
    height: 0.89rem;
    background-image: url("../images/pricetag.png");
    background-size: 100% 100%;
    text-align: center;
    padding: 0.11rem 0.1rem 0;
    color: #333;
    font-size: 0.14rem;
}
#mian .wrapper  .preferential .preferential-contents .content .pricetag .price-info .price{

    font-size: 0.3rem;
    color: #f60;
    border-bottom: 1px dashed #ccc;
    line-height: 0.36rem;
    padding-bottom: 0.15rem;
}
#mian .wrapper  .recomend{
    padding-top: 0.3rem;
}
#mian .wrapper  .preferential .img-box ul{
    list-style: none;
    height: 1.3rem;
}
#mian .wrapper  .preferential .img-box ul li{
    float: left;
    padding: 0 0.1rem
}
#mian .wrapper  .preferential .img-box ul li .pic {
    position: relative;
}
#mian .wrapper  .preferential .img-box ul li .pic img{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.04rem;

}
#mian .wrapper  .preferential .img-box ul li .pic .truncate {
    width: 1.3rem;
    padding: 0.08rem 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    position: absolute;
    bottom: 0.05rem;
    color: #fff;
    font-size: 0.14rem;
    text-align: center;
    border-radius: 0.04rem;
    font-weight: 300;
  
}
#mian .wrapper .preferential .img-box ul li .pic .truncate p{
    width: 0.78rem;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
}
#mian .wrapper .recomend .list {
    padding: 0.1rem;
}
#mian .wrapper .recomend .list span{
    margin-right: 0.2rem;
    margin-bottom: 0.19rem;
    color: #333;
}
#mian .wrapper .commend{
    margin-top: 0.3rem;
}
#mian .wrapper .commend .total{
    font-size: 0.23rem;
    float: left;
   margin-bottom: 0.1rem;
}
#mian .wrapper .commend .sort{
    font-size: 0.12rem;
   float: right;
}
#mian .wrapper .commend .com-cont .tags{
    list-style: none;
    padding-top: 0.1rem;
    font-size: 0.12rem;
    color: #ccc;
}
#mian .wrapper .commend .com-cont .tags li{
    width: 0.81rem;
    height: 0.34rem;
    border: 0.01rem solid rgb(229, 229, 229);
    border-radius: 0.02rem;
    padding: 0 0.1rem;
    margin: 0 0.1rem 0.1rem 0;
    float: left;
    line-height: 0.34rem;
    text-align: center;
    font-weight: 300;
}
#mian .wrapper .commend .com-cont .only-picture {
    padding: 0.3rem 0;
}
#mian .wrapper .commend .com-cont .only-picture span{
font-size: 0.14rem;
color: #666;
}
#mian .wrapper .commend .com-cont .item {
    padding-top: 0.3rem;
}
#mian .wrapper .commend .com-cont .item-img{
    width: 0.6rem;
    height: 0.6rem;
    background: #999;
    border-radius: 0.3rem;
    float: left;
}
#mian .wrapper .commend .com-cont .item .item-img img{
    width: 0.6rem;
    height: 0.6rem;
}

#mian .wrapper .commend .com-cont .item .commend-info {
    width: 8.28rem;
    height: 3.6rem;
    padding-left: 0.2rem;
    float: left;
}
#mian .wrapper .commend .com-cont .item .commend-info .name{
    font-size: 16px;
    color: #222;
}
#mian .wrapper .commend .com-cont .item .commend-info .date{
    font-size: 12px;
    color: #999;
    display: flex;
    justify-content: space-between;
}
#mian .wrapper .commend .com-cont .item .commend-info .source {
    padding: 0.05rem 0;

}
#mian .wrapper .commend .com-cont .item .commend-info .source .sort-cont{
    list-style: none;

}
#mian .wrapper .commend .com-cont .item .commend-info .source .sort-cont li{
    float: left;
}
#mian .wrapper .commend .com-cont .item .commend-info .desc{
    font-size: 0.14rem;
    padding-top: 0.3rem;
    color: #666;
    font-weight: 300;
} 
#mian .wrapper .commend .com-cont .item .commend-info .noShowBigImg{
    width: 8.19rem;
    height: 1.9rem;
}
#mian .wrapper .commend .com-cont .item .commend-info .noShowBigImg .paginatedThumbnails{
    width: 8.19rem;
    height: 1.6rem;
}
#mian .wrapper .commend .com-cont .item .commend-info .noShowBigImg .paginatedThumbnails .thumbnails{
    /* width: 1000rem; */
    overflow: hidden;
}
#mian .wrapper .commend .com-cont .item .commend-info .noShowBigImg .paginatedThumbnails .thumbnails .thumbnail{
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.1rem;
    float: left;
}
#mian .wrapper .commend .com-cont .item .commend-info .noShowBigImg .paginatedThumbnails .thumbnails .thumbnail img{
    width: 1.4rem;
    height: 1.4rem;

}
#mian .wrapper .commend .com-cont .item .commend-info .like-cont {
    float: right;
}

#mian .wrapper .commend .com-cont .item .commend-info .like-cont span{
    font-size: 0.12rem;
    color: #666;
}
#mian .wrapper .commend .com-cont .item .line{
    border-bottom: 0.01rem solid rgb(231, 230, 230);
    width: 8.28rem;
    margin: auto;
    margin: 0.2rem 0 0.3rem 0;
}
#mian .wrapper .left-container{
    float: left;

}
#mian .wrapper .right-container{
    width: 2.3rem;
    height: 30rem;
    float: right;
    /* background: #f60; */
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #222;
}
#mian .wrapper .right-container .gess h4{
    padding: 0.1rem;
}
#mian .wrapper .right-container .gess-lists ul{
    list-style: none;
    width: 1.88rem;
    margin: auto;
}
#mian .wrapper .right-container .gess-lists ul li{
    width: 1.88rem; 
    height: 2.06rem;
    margin-bottom: 0.2rem;
}
#mian .wrapper .right-container .gess-lists ul li a img{
    border-radius: 0.04rem;
}
#mian .wrapper .right-container .gess-lists ul li a .title {
    font-size: 0.14rem;
    color: #222;
    margin: 0.1rem 0 0.04rem;
    font-weight: 300;
}
#mian .wrapper .right-container .gess-lists ul li a .desc{
    font-size: 0.12rem;
    color: #999;
    font-weight: 300;
} 
#mian .wrapper .right-container .gess-lists ul li a .price{
    font-weight: 400;
    font-size: 0.18rem;
    color: #f60;
}
#mian .wrapper .recommend{
    width: 11.9rem;
    box-sizing: border-box;
    margin: auto;
   
}
#mian .wrapper .recommend .reconmend-contents{
    background: #ffffff;
    border: 0.01rem solid rgb(236, 236, 236);
    padding: 0.2rem 0 0.2rem 0.3rem;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists {
    list-style: none;
   
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li {
    width: 2.1rem;
    height: 2.41rem;
   margin: 0 0.2rem 0.2rem 0;
   float: left;
   
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li img{
    width: 100%;
    border-radius: 0.04rem;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li .title{
    font-size: 0.16rem;
    color: #222;
    padding: 0.05rem 0;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li .scort{
    font-size: 0.12rem;
    color: #999;
    font-weight: 300;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li p{
    font-size: 0.12rem;
    color: #999;
    font-weight: 300;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li .price{
    color: #f60;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li .price {
    font-size: 0.14rem;
}
#mian .wrapper .recommend .reconmend-contents ul.reconmend-lists li .price .count{
    font-size: 0.25rem;
}