body{
    background: #ffffff;
}

#main {
    width: 100%;
}

#main .content-wrapper {
    width: 12rem;
    margin: auto;
    min-width: 4rem;
}

#main .content-wrapper .process {
    width: 12rem;
    height: 0.5rem;
    margin: 0.5rem auto;
}

#main .content-wrapper .process .step {
    width: 3rem;
    height: 0.5rem;
    float: left;
}

#main .content-wrapper .process .step .line {
    width: 3rem;
    height: 0.05rem;
    background: rgb(19, 209, 190);
    position: relative;
}

#main .content-wrapper .process .step .circle {
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 0.09rem;
    background: rgb(19, 209, 190);
    text-align: center;
    margin: auto;
    position: absolute;
    top: -0.08rem;
    left: 50%;
}

#main .content-wrapper .process .step .circle .step-num {
    color: #ffffff;
    font-size: 0.12rem;
    line-height: 0.18rem;
}

#main .content-wrapper .process .the-first-step .line {
    width: 1.5rem;
    float: right;
}

#main .content-wrapper .process .the-first-step .line .circle {
    position: absolute;
    left: -0.07rem;
}

#main .content-wrapper .process .the-last-step .line {
    width: 1.5rem;
}

#main .content-wrapper .process .the-last-step .line .circle {
    position: absolute;
    right: -0.8rem;
}

#main .content-wrapper .process .step .step-text {
    width: 3rem;
    text-align: center;
    color: rgb(19, 209, 190);
    font-size: 0.14rem;
    padding-top: 0.15rem;
}

#main .content-wrapper .movie-selection {
    width: 12rem;
    height: 7.2rem;
    margin: auto;
    border: 0.01rem solid #e4e2e2;
}

#main .content-wrapper .movie-selection .seat-example {
    width: 8rem;
    float: left;
}

#main .content-wrapper .movie-selection .seat-example .seat-idents {
    width: 7rem;
    height: 0.26rem;
    margin: auto;
    padding: 0.4rem 0;
}

#main .content-wrapper .movie-selection .seat-example .seat-idents .seat-ident {
    float: left;
    padding: 0 0.33rem;
}

#main .content-wrapper .movie-selection .seat-example .seat-idents .seat-ident .seat-text {
    vertical-align: top;
    color: #666;
}
#main .content-wrapper .movie-selection .seating-area{
    position: relative;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .column {
    width: 0.2rem;
    float: left;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .column ul.num {
    list-style: none;
    padding: 1rem 0 0 0.3rem;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .column ul.num li {
    padding-bottom: 0.2rem;
    color: #666;
}
#main .content-wrapper .movie-selection .seat-example .seating-area .viewing {
    position: absolute;
    width: 7rem;
    overflow: scroll;
    top: 0;
    left: 1.2rem;
    float: left;
}
#main .content-wrapper .movie-selection .seat-example .seating-area .viewing .screen{
    width: 8rem;
    height: 0.5rem;
    padding-bottom: 0.1rem;
}
#main .content-wrapper .movie-selection .seat-example .seating-area .screen img {
    width: 5.6rem;
    height: 0.5rem;
    margin-left: 1.25rem;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .screen p {
    text-align: center;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .seats-wrapper .row {
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .seats-wrapper .row .seat {
    display: inline-block;
    font-size: 0;
    width: 0.3rem;
    height: 0.26rem;
    margin: 0 0.05rem;
    background: url('../images/seat.png') no-repeat;
}

#main .content-wrapper .movie-selection .seat-example .seating-area .seats-wrapper .row .seat.selected {
    background-image: url('../images/seat_selected.png');
}

#main .content-wrapper .movie-selection .seat-example .seating-area .seats-wrapper .row .seat.sold {
    background-image: url('../images/seat_sold.png');
}

#main .content-wrapper .movie-selection .seat-example .seating-area .seats-wrapper .row .seat.empty {
    background-image: none;
}
.ticket-container{
    height: 0.6rem;
}

.ticket-container .ticket {
    cursor: default;
    position: relative;
    font-size: 12px;
    color: #f03d37;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 12px 10px 0;
    background: url('../images/ticket_bg.png') no-repeat;
}

.ticket-container .ticket:hover:after {
    position: absolute;
    top: -7px;
    right: -7px;
    content: "";
    background: url('../images/ticket_clear.png') no-repeat;
    width: 0.16rem;
    height: 0.16rem;
    background-size: 0.16rem;
}

#main .content-wrapper .movie-selection .ticket-info{
    width: 3.5rem;
    height: 7.2rem;
    background-color: #f9f9f9;
    float: right;
}
#main .content-wrapper .movie-selection .ticket-info .film-content {
    padding: 0.2rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .img-container{
    width: 1.22rem;
    height: 1.62rem;
    background: white;
    text-align: center;
    float: left;
    box-shadow: 0.005rem 0.01rem 0.1rem #cccccc;
}
#main .content-wrapper .movie-selection .ticket-info .film-content img{
    width: 1.18rem;
    height: 1.58rem;
    margin-top: 0.02rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .film-info{
    float: left;
    padding-left: 0.2rem;
   
}
#main .content-wrapper .movie-selection .ticket-info .film-content .film-info .name{
    font-size: 0.2rem;
    color: #333;
    font-weight: 500;
    padding-bottom: 0.1rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .film-info .type{
    color: #666666;
    font-size: 0.12rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .film-info .type .value{
    color: #333333;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .film-info .time{
    color: #666666;
    font-size: 0.12rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .film-info .time .value{
    color: #333333;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .sold-info{
    padding-top: 0.15rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .sold-info .info{
    font-size: 0.14rem;
    color: #666;
    padding: 0.05rem 0;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .sold-info .info .value{
    color: #151515;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .sold-info .session .value{
    color: #f03d37;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .dotted-line{
    width: 100%;
    height: 0;
    border-bottom: 0.01rem dashed #cccccc;
    padding: 0 0 0.1rem 0;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info{
    padding: 0.1rem 0;
    font-size: 0.14rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .prompt{
    color: #666;
    padding-top: 0.1rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .no-selected{
    text-align: center;
    padding: 0.3rem 0;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .no-selected .red{
    color: #f03d37;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .yuan{
    color: #f03d37;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .price{
    color: #f03d37;
    font-size: 0.24rem;
    font-weight: 500;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .confirm {
    padding: 0.2rem 0;
   text-align: center;
   color: #666;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .confirm .number{
   color: #151515;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .confirm .confirm-btn {
    width: 2.6rem;
    height: 0.42rem;
    margin: auto;
    background-color: #dedede;
    color: #ffffff;
    line-height: 0.42rem;
    border-radius: 0.21rem;
    margin-top: 0.5rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info {
    color: #666;
    padding: 0.1rem 0;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .tip{
    float: left;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .seat-num{
    float: left;
    width: 0.6rem;
    height: 0.3rem;
    background-image: url(../images/filmpricetag.png);
    background-size: 100% 100%;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.12rem;
    color: #f03d37;
    margin-right: 0.1rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .ticket-count{
    padding-top: 0.1rem;
}
#main .content-wrapper .movie-selection .ticket-info .film-content .selected-info .ticket-count .num{
    color: #f03d37;
}
